@page "/bodymassindexes"
@inject HttpClient _client
@inject HttpInterceptorService _interceptor
@inject IJSRuntime js
@implements IDisposable
@attribute [Authorize]

<h1 class="card-title">Body Mass Index Calculator</h1>
<br />
<p> Here's The Page Where You Can Calculate Your BMI By Providing Your Height & Weight & Also Some Related Information To Guide You</p>

<a href="/bodymassindexes/create" class="btn btn-success" style="border: 3px solid white;">
    <span class="oi oi-plus mr-2"></span>
    Add New Body Mass Index (BMI)
</a>
<br />
<br />

@if (BodyMassIndexes == null)
{
    <div class=" alert alert-info">Loading BMIs...</div>
}

else
{
    <div class="row">
        @foreach (var bmi in BodyMassIndexes)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color: transparent; border: 5px solid white;">
                    <table>
                        <tr style="text-align:left">
                            <span>Personal Height:</span>
                            <td>@bmi.Height <span>m</span></td>
                        </tr>
                        <tr style ="text-align:left">
                            <span>Personal Weight:</span>
                            <td>@bmi.Weight <span>kg</span></td>
                        </tr>
                        <tr style="text-align:left">
                            @*This Code Helps To Display BMI In 1 Decimal Place*@
                            <span>Calculated Body Mass Index (BMI):</span>
                            <td><strong>@bmi.BMI?.ToString("F1")<span>kg/m2</span></strong></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/bodymassindexes/view/@bmi.Id" class="btn btn-primary" style="border: 3px solid white;">
                                    <span class="oi oi-book"></span>
                                </a>

                                <a href="/bodymassindexes/edit/@bmi.Id" class="btn btn-warning" style="border: 3px solid white;">
                                    <span class="oi oi-pencil"></span>
                                </a>

                                <button class="btn btn-danger" style="border: 3px solid white;" @onclick="@(()=>Delete(bmi.Id))">
                                    <span class="oi oi-delete"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    @if (bmi.BMI < 18.5 || bmi.BMI > 25)
                    {
                            <tr colspan="2" class="text-center">
                                <button class="btn btn-success" style="border: 3px solid white" @onclick="@(() => ShowRecommendations(bmi))">Recommendation List:</button>
                            </tr>

                    }
                    else if (bmi.BMI > 18.5 || bmi.BMI < 24.9)
                    {
                        <div class="text-center">
                            <button class="btn btn-success" style="border: 3px solid white" @onclick="ShowHealthyMessage">Recommendation List:</button>
                        </div>
                    }
                </div>
            </div>
        }
        <table>
            <tr>
                <td>
                    <img src="https://www.cdc.gov/healthyweight/images/assessing/bmi-adult-fb-600x315.jpg?_=07167" alt="BMI image" width="350" height="300">
                </td>
                <td>
                    <img src="https://ch-api.healthhub.sg/api/public/content/4c183ce72f9f4b7c86e25e64cad40a51?v=ec148105" alt="BMI image" width="350" height="300">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <img src="https://images.drlogy.com/assets/uploads/img/admin/health_blog/obesity-symptoms.webp" alt="BMI image" width="800" height="500">
                </td>
            </tr>
        </table>
    </div>
    @if (ShowRecommendationPopup)
    {
        // Create A Modal Pop Up Window
        <div class="modal" tabindex="-1" style="display: block; backdrop-filter: blur(5px);">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: black; color: white;">
                    @*Add A Header To The Pop Up Window*@
                     <div class="modal-header">
                        <h5 class="modal-title" style="text-align: center; color:white">Recommendation Tips:</h5>

                        @*Set A Close Button To Close The PopUp*@
                        <button type="button" class="close" @onclick="@(() => ShowRecommendationPopup = false)" style="background-color: red; border: 3px solid white;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @*Set A Modal Body To Store Whatever Content Needed*@
                    <div class="modal-body" style="text-align: center; color: white;">
                        <img src="https://i.pinimg.com/736x/92/37/27/9237272b44ee8ac90297673bcb5e9fc1.jpg" alt="Recommendation" width="450" height="400"> 
                        <p>Your BMI Is Unhealthy. Here Are Some Tips For You:</p>
                        <ul style=" text-align: left;">
                            <li>Eat Healthy Food</li>
                            <li>Stay Away From Junk Food & Late-Night Snakcs</li>
                            <li>Exercise At Least 30 Minutes 3 Times Per Week</li>
                        </ul>

                        @*Add Two Buttons In The PopUps & Navigate To Their Respective Output*@
                        <p>For More Info, Please Visit...</p>
                        <div style="margin-bottom: 10px;">
                            <a href="/healthnutritionbenefits" class="btn btn-outline-secondary" style="background-color: black; color: white; border: 3px solid white;">Go to Health & Nutrition Benefits Page</a>
                        </div>

                        <div>
                            <a href="/exerciseroutines" class="btn btn-secondary" style="background-color: black; color: white; border: 3px solid white;">Go to Exercise Benefits Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    private List<BodyMassIndex>? BodyMassIndexes;

    // Set Boolean Variable To False Because We Only Want To See The PopUp Through A Button
    private bool ShowRecommendationPopup = false;

    // Set String Variable To Hold The Content 
    private string RecommendationsContent = "";

    // Set Variable of Type BodyMassIndex To Hold Current BMI Value
    private BodyMassIndex CurrentBMI;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        BodyMassIndexes = await _client.GetFromJsonAsync<List<BodyMassIndex>>($"{Endpoints.BodyMassIndexesEndpoint}");
    }

    async Task Delete(int bodymassindexesId)
    {
        if (BodyMassIndexes != null)
        {
            var bodymassindex = BodyMassIndexes.First(q => q.Id == bodymassindexesId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do You Want To Delete {bodymassindex.BMI?.ToString("F1")}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.BodyMassIndexesEndpoint}/{bodymassindex.Id}");
                await OnInitializedAsync();
            }
        }
    }

    // Set A Method Such As When A Button is Clicked, This Function Is Called & User Is Able To VIew PopUp
    async Task ShowRecommendations(BodyMassIndex bmi)
    {
        // Assigned Variable To Provided BMI (bmi)
        CurrentBMI = bmi;

        // Set Boolean Variable To True If This Method Is Called
        ShowRecommendationPopup = true;
    }

    // Set A Method Such As When A Button is Clicked, Alert Message PopUps
    private void ShowHealthyMessage()
    {
        // Display An Alert Message
        js.InvokeVoidAsync("alert", "Your BMI Is In A Healthy Range! Keep It Up");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}